body {
  margin: 0;
  padding: 0;
  background: url(imager_4_53459_700.jpg) no-repeat top left;
  background-size: cover;
  font-family: sans-serif;
  
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.box-scroll{
    right: 0;
    height: 1000px;
    overflow-y: scroll;
}

.box-menu {
    position: fixed;
    right: 0;
    left: 0;
    background-color: black;
    text-align: center;
    height: 90px;
    justify-content: space-around;
}

.logo{
    position: absolute;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 35px;
    margin-left: -140px;
}
.box-menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.box-menu ul li {
  width: 170px;
  margin: 5px;
  padding: 15px;
  margin-left: -20px;
}

.box-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.active,
.box-menu ul li:hover {
  background: black;
  border-radius: 3px;
}
.box-menu .fa {
  margin-right: 10px;
}

.box-submenu {
  display: none;
}
.box-menu ul li:hover .box-submenu {
  display: block;
  position: absolute;
  background: #333;
  margin-top: 17px;
  margin-left: -15px;
}
.box-menu ul li:hover .box-submenu ul {
  display: block;
  margin: 0px;
  padding: 0px;
}
.box-menu ul li:hover .box-submenu ul li {
  width: 220px;
  text-align: left;
  border-bottom: dotted 1px #fff;
  background: transparent;
  border-radius: 0;
  padding: 15px;
  margin: 10px;
}
.box-menu ul li:hover .box-submenu ul li:last-child {
  border-bottom: none;
}
.box-menu ul li:hover .box-submenu ul li a:hover {
  color: yellowgreen;
}
.fa-angle-right {
  float: right;
}
.box-submenu-2 {
  display: none;
}
.submenu-hover:hover .box-submenu-2 {
  display: block;
  position: absolute;
  margin-top: -44px;
  margin-left: 210px;
  background: #333;
}
